In [88]:
# Vizuelna podešavanja okruženja (samo razvuče notebook na širinu ekrana)
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

In [89]:
import pandas as pd

In [90]:
df_matches_2018 = pd.read_csv("ASM_PZ2_podaci_2021/atp_matches_2018.csv")
df_matches_2019 = pd.read_csv("ASM_PZ2_podaci_2021/atp_matches_2019.csv")
df_matches_2020 = pd.read_csv("ASM_PZ2_podaci_2021/atp_matches_2020.csv")
df_players = pd.read_csv("ASM_PZ2_podaci_2021/atp_players.csv", header=None, names=['player_id', 'first_name', 'last_name', 'hand', 'birth_date', 'country_code'])
df_rankings_10s = pd.read_csv("ASM_PZ2_podaci_2021/atp_rankings_10s.csv")
df_rankings_current = pd.read_csv("ASM_PZ2_podaci_2021/atp_rankings_current.csv", header=None, names=['ranking_date', 'rank', 'player', 'points'])

df_matches_2018.name = "matches 2018"
df_matches_2019.name = "matches 2019"
df_matches_2020.name = "matches 2020"
df_players.name = "players"
df_rankings_10s.name = "rankings 10s"
df_rankings_current.name = "rankings current"

## ATP Tennis Rankings, Results, and Stats

This contains my master ATP player file, historical rankings, results, and match stats.

The player file columns are player_id, first_name, last_name, hand, birth_date, country_code.

The columns for the ranking files are ranking_date, ranking, player_id, ranking_points (where available).

ATP rankings are mostly complete from 1985 to the present. 1982 is missing, and rankings from 1973-1984 are only intermittent.

Results and stats: There are up to three files per season: One for tour-level main draw matches (e.g. 'atp_matches_2014.csv'), one for tour-level qualifying and challenger main-draw matches, and one for futures matches.

Most of the columns in the results files are self-explanatory. I've also included a matches_data_dictionary.txt file to spell things out a bit more.

To make the results files easier for more people to use, I've included a fair bit of redundancy with the biographical and ranking files: each row contains several columns of biographical information, along with ranking and ranking points, for both players. Ranking data, as well as age, are as of tourney_date, which is almost always the Monday at or near the beginning of the event.

MatchStats are included where I have them. In general, that means 1991-present for tour-level matches, 2008-present for challengers, and 2011-present for tour-level qualifying. The MatchStats columns should be self-explanatory, but they might not be what you're used to seeing; it's all integer totals (e.g. 1st serves in, not 1st serve percentage), from which traditional percentages can be calculated.

There are some tour-level matches with missing stats. Some are missing because ATP doesn't have them. Others I've deleted because they didn't pass some sanity check (loser won 60% of points, or match time was under 20 minutes, etc). Also, Davis Cup matches are included in the tour-level files, but there are no stats for Davis Cup matches until the last few seasons.

# Doubles

I've added tour-level doubles back to 2000. Filenames follow the convention atp_matches_doubles_yyyy.csv. I may eventually be able to add tour-level doubles from before 2000, as well as lower-level doubles for some years. Most of the columns are the same, though in a different order.

# Attention

Please read, understand, and abide by the license below. It seems like a reasonable thing to ask, given the hundreds of hours I've put into amassing and maintaining this dataset. Unfortunately, a few bad apples have violated the license, and when people do that, it makes me considerably less motivated to continue updating.

Also, if you're using this for academic/research purposes (great!), take a minute and cite it properly. It's not that hard, it helps others find a useful resource, and let's face it, you should be doing it anyway.

# License

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Tennis databases, files, and algorithms</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.tennisabstract.com/" property="cc:attributionName" rel="cc:attributionURL">Jeff Sackmann / Tennis Abstract</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/JeffSackmann" rel="dct:source">https://github.com/JeffSackmann</a>.

In other words: Attribution is required. Non-commercial use only.

* Many of the columns in the 'matches' files are self-explanatory, or are very similar to previous columns.

tourney_id
- a unique identifier for each tournament, such as 2020-888. The exact formats are borrowed from several different sources, so while the first four characters are always the year, the rest of the ID doesn't follow a predictable structure.

tourney_name
surface
draw_size
- number of players in the draw, often rounded up to the nearest power of 2. (For instance, a tournament with 28 players may be shown as 32.)

tourney_level
- For men: 'G' = Grand Slams, 'M' = Masters 1000s, 'A' = other tour-level events, 'C' = Challengers, 'S' = Satellites/ITFs, 'F' = Tour finals and other season-ending events, and 'D' = Davis Cup 
- For women, there are several additional tourney_level codes, including 'P' = Premier, 'PM' = Premier Mandatory, and 'I' = International. The various levels of ITFs are given by the prize money (in thousands), such as '15' = ITF $15,000. Other codes, such as 'T1' for Tier I (and so on) are used for older WTA tournament designations. 'D' is used for Federation/Fed/Billie Jean King Cup, and also for Wightman Cup and Bonne Bell Cup.

- Others, eventually for both genders: 'E' = exhibition (events not sanctioned by the tour, though the definitions can be ambiguous), 'J' = juniors, and 'T' = team tennis, which does yet appear anywhere in the dataset but will at some point.

tourney_date
- eight digits, YYYYMMDD, usually the Monday of the tournament week.

match_num
- a match-specific identifier. Often starting from 1, sometimes counting down from 300, and sometimes arbitrary. 

winner_id
- the player_id used in this repo for the winner of the match

winner_seed
winner_entry
- 'WC' = wild card, 'Q' = qualifier, 'LL' = lucky loser, 'PR' = protected ranking, 'ITF' = ITF entry, and there are a few others that are occasionally used.

winner_name
winner_hand
winner_ht
- height in centimeters, where available

winner_ioc
- three-character country code

winner_age
- age, in years, as of the tourney_date

loser_id
loser_seed
loser_entry
loser_name
loser_hand
loser_ht
loser_ioc
loser_age
score
best_of
- '3' or '5', indicating the the number of sets for this match

round
minutes
- match length, where available

w_ace
- winner's number of aces
w_df
- winner's number of doubles faults
w_svpt
- winner's number of serve points
w_1stIn
- winner's number of first serves made
w_1stWon
- winner's number of first-serve points won
w_2ndWon
- winner's number of second-serve points won
w_SvGms
- winner's number of serve games
w_bpSaved
- winner's number of break points saved
w_bpFaced
- winner's number of break points faced

l_ace
l_df
l_svpt
l_1stIn
l_1stWon
l_2ndWon
l_SvGms
l_bpSaved
l_bpFaced

winner_rank
- winner's ATP or WTA rank, as of the tourney_date, or the most recent ranking date before the tourney_date
winner_rank_points
- number of ranking points, where available
loser_rank
loser_rank_points

* _doubles_ files notes

The matches_doubles files have similar columns, though not all in the same order.

The identifying information for each player refers to 'winner1', 'winner2', 'loser1', and 'loser2'. The labels 1 and 2 are not assigned for any particular reason.

In general, the tournament IDs for doubles results are the same as for singles results (so, for instance, you can see which players entered both draws at the same event), though this is not guaranteed for every single tournament, since some of the data came from different sources.

The stats columns ('w_ace' etc) are per *team*, not per player. That's a function of how tennis stats are typically recorded, not a decision on my part.

In [91]:
df_matches_2018.name = "matches_2018"
df_matches_2018

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2018-M020,Brisbane,Hard,32,A,20180101,271,105992,NaN,NaN,...,47.0,33.0,19.0,14.0,1.0,4.0,47.0,1010.0,52.0,909.0
1,2018-M020,Brisbane,Hard,32,A,20180101,272,111577,NaN,NaN,...,41.0,25.0,7.0,9.0,7.0,11.0,54.0,890.0,94.0,593.0
2,2018-M020,Brisbane,Hard,32,A,20180101,273,104797,NaN,NaN,...,53.0,37.0,29.0,15.0,10.0,16.0,63.0,809.0,30.0,1391.0
3,2018-M020,Brisbane,Hard,32,A,20180101,275,200282,NaN,WC,...,43.0,33.0,17.0,11.0,4.0,6.0,208.0,245.0,44.0,1055.0
4,2018-M020,Brisbane,Hard,32,A,20180101,276,111581,NaN,Q,...,35.0,28.0,5.0,9.0,0.0,2.0,175.0,299.0,68.0,755.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2884,2018-0605,Tour Finals,Hard,8,F,20181112,299,104925,1.0,NaN,...,33.0,23.0,7.0,8.0,5.0,9.0,1.0,8045.0,6.0,4310.0
2885,2018-0605,Tour Finals,Hard,8,F,20181112,300,100644,3.0,NaN,...,34.0,25.0,8.0,10.0,2.0,6.0,5.0,5085.0,1.0,8045.0
2886,2018-M-DC-2018-WG-M-FRA-CRO-01,Davis Cup WG F: FRA vs CRO,Clay,4,D,20181123,1,106432,NaN,NaN,...,64.0,43.0,18.0,15.0,9.0,13.0,12.0,2480.0,40.0,1050.0
2887,2018-M-DC-2018-WG-M-FRA-CRO-01,Davis Cup WG F: FRA vs CRO,Clay,4,D,20181123,2,105227,NaN,NaN,...,57.0,39.0,18.0,15.0,1.0,4.0,7.0,4250.0,259.0,200.0
2888,2018-M-DC-2018-WG-M-FRA-CRO-01,Davis Cup WG F: FRA vs CRO,Clay,4,D,20181123,4,105227,NaN,NaN,...,58.0,43.0,21.0,15.0,9.0,12.0,7.0,4250.0,32.0,1245.0

In [92]:
df_matches_2019.name = "matches_2019"
df_matches_2019

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2019-M020,Brisbane,Hard,32,A,20181231,300,105453,2.0,NaN,...,54.0,34.0,20.0,14.0,10.0,15.0,9.0,3590.0,16.0,1977.0
1,2019-M020,Brisbane,Hard,32,A,20181231,299,106421,4.0,NaN,...,52.0,36.0,7.0,10.0,10.0,13.0,16.0,1977.0,239.0,200.0
2,2019-M020,Brisbane,Hard,32,A,20181231,298,105453,2.0,NaN,...,27.0,15.0,6.0,8.0,1.0,5.0,9.0,3590.0,40.0,1050.0
3,2019-M020,Brisbane,Hard,32,A,20181231,297,104542,NaN,PR,...,60.0,38.0,9.0,11.0,4.0,6.0,239.0,200.0,31.0,1298.0
4,2019-M020,Brisbane,Hard,32,A,20181231,296,106421,4.0,NaN,...,56.0,46.0,19.0,15.0,2.0,4.0,16.0,1977.0,18.0,1855.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2776,2019-M-DC-2019-QLS-M-SUI-RUS-01,Davis Cup QLS R1: SUI vs RUS,Hard,4,D,20190201,2,111575,NaN,NaN,...,47.0,32.0,14.0,10.0,5.0,8.0,11.0,2880.0,362.0,56.0
2777,2019-M-DC-2019-QLS-M-SUI-RUS-01,Davis Cup QLS R1: SUI vs RUS,Hard,4,D,20190201,4,111575,NaN,NaN,...,94.0,65.0,27.0,17.0,15.0,17.0,11.0,2880.0,142.0,389.0
2778,2019-M-DC-2019-QLS-M-SWE-COL-01,Davis Cup QLS R1: SWE vs COL,Clay,4,D,20190201,1,105053,NaN,NaN,...,33.0,20.0,7.0,9.0,1.0,5.0,251.0,190.0,116.0,485.0
2779,2019-M-DC-2019-QLS-M-SWE-COL-01,Davis Cup QLS R1: SWE vs COL,Clay,4,D,20190201,2,123755,NaN,NaN,...,31.0,14.0,9.0,7.0,2.0,6.0,228.0,224.0,194.0,267.0
2780,2019-M-DC-2019-QLS-M-SWE-COL-01,Davis Cup QLS R1: SWE vs COL,Clay,4,D,20190201,4,105292,NaN,NaN,...,29.0,17.0,8.0,9.0,4.0,9.0,337.0,72.0,116.0,485.0

In [93]:
df_matches_2020.name = "matches_2020"
df_matches_2020

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2020-8888,Atp Cup,Hard,24,A,20200106,300,104925,NaN,NaN,...,51.0,39.0,6.0,10.0,6.0,8.0,2.0,9055.0,1.0,9985.0
1,2020-8888,Atp Cup,Hard,24,A,20200106,299,105138,NaN,NaN,...,35.0,21.0,6.0,9.0,5.0,10.0,10.0,2335.0,34.0,1251.0
2,2020-8888,Atp Cup,Hard,24,A,20200106,298,104925,NaN,NaN,...,57.0,35.0,25.0,14.0,6.0,11.0,2.0,9055.0,5.0,5705.0
3,2020-8888,Atp Cup,Hard,24,A,20200106,297,105583,NaN,NaN,...,54.0,39.0,14.0,12.0,0.0,1.0,34.0,1251.0,17.0,1840.0
4,2020-8888,Atp Cup,Hard,24,A,20200106,296,104745,NaN,NaN,...,55.0,37.0,10.0,14.0,1.0,5.0,1.0,9985.0,18.0,1775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1442,2020-M-DC-2020-WG2-PO-POL-HKG-01,Davis Cup WG2 PO: POL vs HKG,Hard,4,D,20200306,2,105668,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,461.0,68.0,960.0,11.0
1443,2020-M-DC-2020-WG2-PO-POL-HKG-01,Davis Cup WG2 PO: POL vs HKG,Hard,4,D,20200306,4,209874,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1444,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,4,D,20200306,1,208518,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,813.0,18.0
1445,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,4,D,20200306,2,111761,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,430.0,79.0,NaN,NaN
1446,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,4,D,20200306,4,111761,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,430.0,79.0,NaN,NaN

In [94]:
df_players.name = "players"
df_players

       player_id      first_name    last_name hand  birth_date country_code
0         100001         Gardnar       Mulloy    R  19131122.0          USA
1         100002          Pancho       Segura    R  19210620.0          ECU
2         100003           Frank      Sedgman    R  19271002.0          AUS
3         100004        Giuseppe        Merlo    R  19271011.0          ITA
4         100005  Richard Pancho     Gonzales    R  19280509.0          USA
...          ...             ...          ...  ...         ...          ...
54970     209936         Lorenzo     Claverie    U         NaN          VEN
54971     209937         Giorgio      Tabacco    U         NaN          ITA
54972     209938    Constantinos       Koshis    U         NaN          CYP
54973     209939            Lluc  Mir Anglada    U         NaN          ESP
54974     209940          Romain       Faucon    U         NaN          BEL

[54975 rows x 6 columns]

In [95]:
df_rankings_10s.name = "rankings_10s"
df_rankings_10s

        ranking_date  rank  player   points
0           20100104     1  103819  10550.0
1           20100104     2  104745   9205.0
2           20100104     3  104925   8310.0
3           20100104     4  104918   7030.0
4           20100104     5  105223   6785.0
...              ...   ...     ...      ...
916291      20191230  1922  134833      1.0
916292      20191230  1922  144856      1.0
916293      20191230  1922  202326      1.0
916294      20191230  1926  207307      1.0
916295      20191230  1927  208186      1.0

[916296 rows x 4 columns]

In [96]:
df_rankings_current.name = "rankings_current"
df_rankings_current

       ranking_date  rank  player  points
0          20200106     1  104745    9985
1          20200106     2  104925    9055
2          20200106     3  103819    6590
3          20200106     4  106233    5825
4          20200106     5  106421    5705
...             ...   ...     ...     ...
51152      20201221   896  209857      15
51153      20201221   897  103565      15
51154      20201221   898  125800      15
51155      20201221   899  132575      15
51156      20201221   900  126630      15

[51157 rows x 4 columns]

### Print info.

In [97]:
df_list = [df_matches_2018, df_matches_2019, df_matches_2020, df_players, df_rankings_10s, df_rankings_current]

for df in df_list:
    print(df.name)
    print("\nall fields")
    print(df.columns)
    print("\nfields with NA")
    print(df.columns[df.isna().any()].tolist())
    print("\n")

matches_2018

all fields
Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

fields with NA
['winner_seed', 'winner_entry', 'winner_hand', 'winner_ht', 'loser_seed', 'loser_entry', 'loser_hand', 'loser_ht', 'loser_age', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points']


matches_2019

all fields
Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

fields with NA
['winner_seed', 'winner_entry', 'winner_ht', 'winner_age', 'loser_seed', 'loser_entry', 'loser_hand', 'loser_ht', 'loser_age', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points']


matches_2020

all fields
Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

fields with NA
['winner_seed', 'winner_entry', 'winner_hand', 'winner_ht', 'winner_age', 'loser_seed', 'loser_entry', 'loser_hand', 'loser_ht', 'loser_age', 'score', 'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced', 'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points']


players

all fields
Index(['player_id', 'first_name', 'last_name', 'hand', 'birth_date',
       'country_code'],
      dtype='object')

fields with NA
['first_name', 'last_name', 'hand', 'birth_date', 'country_code']


rankings_10s

all fields
Index(['ranking_date', 'rank', 'player', 'points'], dtype='object')

fields with NA
['points']


rankings_current

all fields
Index(['ranking_date', 'rank', 'player', 'points'], dtype='object')

fields with NA
[]

### Clear matches dataframes.

In [98]:
columns = ['draw_size', 'tourney_level', 'score', 'best_of', 'round', 'minutes',
           'winner_seed', 'winner_entry', 'winner_hand', 'winner_ht', 'winner_age', 'winner_rank_points',
           'loser_seed', 'loser_entry', 'loser_hand', 'loser_ht', 'loser_age', 'loser_rank_points',
           'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon', 'w_SvGms', 'w_bpSaved', 'w_bpFaced', 
           'l_ace', 'l_df', 'l_svpt', 'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced']
# errors='ignore' so that drop may be repeated
df_matches_2018.drop(columns, axis=1, errors='ignore', inplace=True)
df_matches_2019.drop(columns, axis=1, errors='ignore', inplace=True)
df_matches_2020.drop(columns, axis=1, errors='ignore', inplace=True)
df_matches_2018.fillna(value='Unknown', axis=0, inplace=True)
df_matches_2019.fillna(value='Unknown', axis=0, inplace=True)
df_matches_2020.fillna(value='Unknown', axis=0, inplace=True)
df_matches_2018

,tourney_id,tourney_name,surface,tourney_date,match_num,winner_id,winner_name,winner_ioc,loser_id,loser_name,loser_ioc,winner_rank,loser_rank
0,2018-M020,Brisbane,Hard,20180101,271,105992,Ryan Harrison,USA,104919,Leonardo Mayer,ARG,47,52
1,2018-M020,Brisbane,Hard,20180101,272,111577,Jared Donaldson,USA,111442,Jordan Thompson,AUS,54,94
2,2018-M020,Brisbane,Hard,20180101,273,104797,Denis Istomin,UZB,106000,Damir Dzumhur,BIH,63,30
3,2018-M020,Brisbane,Hard,20180101,275,200282,Alex De Minaur,AUS,105449,Steve Johnson,USA,208,44
4,2018-M020,Brisbane,Hard,20180101,276,111581,Michael Mmoh,USA,105643,Federico Delbonis,ARG,175,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2884,2018-0605,Tour Finals,Hard,20181112,299,104925,Novak Djokovic,SRB,104731,Kevin Anderson,RSA,1,6
2885,2018-0605,Tour Finals,Hard,20181112,300,100644,Alexander Zverev,GER,104925,Novak Djokovic,SRB,5,1
2886,2018-M-DC-2018-WG-M-FRA-CRO-01,Davis Cup WG F: FRA vs CRO,Clay,20181123,1,106432,Borna Coric,CRO,104871,Jeremy Chardy,FRA,12,40
2887,2018-M-DC-2018-WG-M-FRA-CRO-01,Davis Cup WG F: FRA vs CRO,Clay,20181123,2,105227,Marin Cilic,CRO,104542,Jo-Wilfried Tsonga,FRA,7,259
2888,2018-M-DC-2018-WG-M-FRA-CRO-01,Davis Cup WG F: FRA vs CRO,Clay,20181123,4,105227,Marin Cilic,CRO,106298,Lucas Pouille,FRA,7,32

### Concatenate matches dataframes into df_matches; add id column.

In [99]:
df_matches = pd.concat([df_matches_2018, df_matches_2019, df_matches_2020], ignore_index=True)
df_matches.name = "matches_all"
df_matches_2018['id'] = df_matches_2018.index
df_matches_2019['id'] = df_matches_2019.index
df_matches_2020['id'] = df_matches_2020.index
df_matches['id'] = df_matches.index
df_matches

,tourney_id,tourney_name,surface,tourney_date,match_num,winner_id,winner_name,winner_ioc,loser_id,loser_name,loser_ioc,winner_rank,loser_rank,id
0,2018-M020,Brisbane,Hard,20180101,271,105992,Ryan Harrison,USA,104919,Leonardo Mayer,ARG,47,52,0
1,2018-M020,Brisbane,Hard,20180101,272,111577,Jared Donaldson,USA,111442,Jordan Thompson,AUS,54,94,1
2,2018-M020,Brisbane,Hard,20180101,273,104797,Denis Istomin,UZB,106000,Damir Dzumhur,BIH,63,30,2
3,2018-M020,Brisbane,Hard,20180101,275,200282,Alex De Minaur,AUS,105449,Steve Johnson,USA,208,44,3
4,2018-M020,Brisbane,Hard,20180101,276,111581,Michael Mmoh,USA,105643,Federico Delbonis,ARG,175,68,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7112,2020-M-DC-2020-WG2-PO-POL-HKG-01,Davis Cup WG2 PO: POL vs HKG,Hard,20200306,2,105668,Jerzy Janowicz,POL,106388,Pak Long Yeung,HKG,461,960,7112
7113,2020-M-DC-2020-WG2-PO-POL-HKG-01,Davis Cup WG2 PO: POL vs HKG,Hard,20200306,4,209874,Maks Kasnikowski,POL,207852,Wai Yu Kai,HKG,Unknown,Unknown,7113
7114,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,20200306,1,208518,Hazem Naw,UNK,200250,Mehluli Don Ayanda Sibanda,ZIM,Unknown,813,7114
7115,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,20200306,2,111761,Benjamin Lock,ZIM,200181,Amer Naow,SYR,430,Unknown,7115
7116,2020-M-DC-2020-WG2-PO-SYR-ZIM-01,Davis Cup WG2 PO: SYR vs ZIM,Hard,20200306,4,111761,Benjamin Lock,ZIM,208518,Hazem Naw,UNK,430,Unknown,7116

### Clear NaN in df_rankings_10s (whereas df_rankings_current has no NaN).

In [100]:
df_rankings_10s.drop(df_rankings_10s[df_rankings_10s['ranking_date'] < 20180101].index, inplace=True)
print(df_rankings_10s.isnull().sum(axis=0))
df_rankings_10s.dropna(inplace=True)
df_rankings_10s

ranking_date      0
rank              0
player            0
points          170
dtype: int64

        ranking_date  rank  player   points
764191      20180101     1  104745  10645.0
764192      20180101     2  103819   9605.0
764193      20180101     3  105777   5150.0
764194      20180101     4  100644   4610.0
764195      20180101     5  106233   4015.0
...              ...   ...     ...      ...
916291      20191230  1922  134833      1.0
916292      20191230  1922  144856      1.0
916293      20191230  1922  202326      1.0
916294      20191230  1926  207307      1.0
916295      20191230  1927  208186      1.0

[151935 rows x 4 columns]

### Concatenate df_rankings_10s and df_rankings_current into df_rankings.

In [101]:
df_rankings = pd.concat([df_rankings_10s, df_rankings_current], ignore_index=True)
df_rankings.name = "rankings"
df_rankings['id'] = df_rankings.index
df_rankings

        ranking_date  rank  player   points      id
0           20180101     1  104745  10645.0       0
1           20180101     2  103819   9605.0       1
2           20180101     3  105777   5150.0       2
3           20180101     4  100644   4610.0       3
4           20180101     5  106233   4015.0       4
...              ...   ...     ...      ...     ...
203087      20201221   896  209857     15.0  203087
203088      20201221   897  103565     15.0  203088
203089      20201221   898  125800     15.0  203089
203090      20201221   899  132575     15.0  203090
203091      20201221   900  126630     15.0  203091

[203092 rows x 5 columns]

### Drop players not appearing in df_matches and unnecessary columns from df_players.

In [102]:
df_players.rename(columns={"player_id": "id"}, inplace=True)

# def unique_players_in_matches(df):
#     winners_unique = set(df['winner_id'].unique())
#     losers_unique = set(df['loser_id'].unique())
#     total_unique = winners_unique.union(losers_unique)
#     return total_unique
    
winners_unique = set(df_matches['winner_id'].unique())
losers_unique = set(df_matches['loser_id'].unique())
unqiue_players_in_matches = winners_unique.union(losers_unique)
df_players.drop(df_players[~df_players['id'].isin(unqiue_players_in_matches)].index, inplace=True)

df_players.drop(['hand', 'birth_date'], axis=1, inplace=True, errors='ignore')

# for convenience
df_players.insert(1, 'full_name', df_players['first_name'] + ' ' + df_players['last_name'])

df_players

,id,full_name,first_name,last_name,country_code
643,100644,Alexander Zverev,Alexander,Zverev,GER
3332,103333,Ivo Karlovic,Ivo,Karlovic,CRO
3498,103499,Aqeel Khan,Aqeel,Khan,PAK
3528,103529,Aisam Ul Haq Qureshi,Aisam Ul Haq,Qureshi,PAK
3564,103565,Stephane Robert,Stephane,Robert,FRA
...,...,...,...,...,...
54904,209870,Gunawan Trismuwantara,Gunawan,Trismuwantara,INA
54905,209871,Amr Elsayed Abdou Ahmed Mohamed,Amr Elsayed Abdou Ahmed,Mohamed,EGY
54906,209872,Thehan Sanjaya Wijemanne,Thehan Sanjaya,Wijemanne,SRI
54907,209873,Eric Jr. Olivarez,Eric Jr.,Olivarez,PHI
54908,209874,Maks Kasnikowski,Maks,Kasnikowski,POL

### Print info about dataframes.

In [103]:
df_list = [df_matches_2018, df_matches_2019, df_matches_2020, df_matches, df_players, df_rankings]

for df in df_list:
    print("DATAFRAME: " + df.name + " " + str(df.shape) + "\n")
    print("NA FIELDS")
    print(df.isna().sum())
    print("\nUNIQUE FIELDS")
    for column in df:
        print(column + "\t" + str(df[column].is_unique))
    print("\n\n")

DATAFRAME: matches_2018 (2889, 14)

NA FIELDS
tourney_id      0
tourney_name    0
surface         0
tourney_date    0
match_num       0
winner_id       0
winner_name     0
winner_ioc      0
loser_id        0
loser_name      0
loser_ioc       0
winner_rank     0
loser_rank      0
id              0
dtype: int64

UNIQUE FIELDS
tourney_id	False
tourney_name	False
surface	False
tourney_date	False
match_num	False
winner_id	False
winner_name	False
winner_ioc	False
loser_id	False
loser_name	False
loser_ioc	False
winner_rank	False
loser_rank	False
id	True



DATAFRAME: matches_2019 (2781, 14)

NA FIELDS
tourney_id      0
tourney_name    0
surface         0
tourney_date    0
match_num       0
winner_id       0
winner_name     0
winner_ioc      0
loser_id        0
loser_name      0
loser_ioc       0
winner_rank     0
loser_rank      0
id              0
dtype: int64

UNIQUE FIELDS
tourney_id	False
tourney_name	False
surface	False
tourney_date	False
match_num	False
winner_id	False
winner_name	False
winner_ioc	False
loser_id	False
loser_name	False
loser_ioc	False
winner_rank	False
loser_rank	False
id	True



DATAFRAME: matches_2020 (1447, 14)

NA FIELDS
tourney_id      0
tourney_name    0
surface         0
tourney_date    0
match_num       0
winner_id       0
winner_name     0
winner_ioc      0
loser_id        0
loser_name      0
loser_ioc       0
winner_rank     0
loser_rank      0
id              0
dtype: int64

UNIQUE FIELDS
tourney_id	False
tourney_name	False
surface	False
tourney_date	False
match_num	False
winner_id	False
winner_name	False
winner_ioc	False
loser_id	False
loser_name	False
loser_ioc	False
winner_rank	False
loser_rank	False
id	True



DATAFRAME: matches_all (7117, 14)

NA FIELDS
tourney_id      0
tourney_name    0
surface         0
tourney_date    0
match_num       0
winner_id       0
winner_name     0
winner_ioc      0
loser_id        0
loser_name      0
loser_ioc       0
winner_rank     0
loser_rank      0
id              0
dtype: int64

UNIQUE FIELDS
tourney_id	False
tourney_name	False
surface	False
tourney_date	False
match_num	False
winner_id	False
winner_name	False
winner_ioc	False
loser_id	False
loser_name	False
loser_ioc	False
winner_rank	False
loser_rank	False
id	True



DATAFRAME: players (581, 5)

NA FIELDS
id              0
full_name       0
first_name      0
last_name       0
country_code    0
dtype: int64

UNIQUE FIELDS
id	True
full_name	True
first_name	False
last_name	False
country_code	False



DATAFRAME: rankings (203092, 5)

NA FIELDS
ranking_date    0
rank            0
player          0
points          0
id              0
dtype: int64

UNIQUE FIELDS
ranking_date	False
rank	False
player	False
points	False
id	True

### pickle.dump() cleared dataframes into files.

In [104]:
import pickle

with open("ASM_PZ2_podaci_2021/matches_2018_cleaned", 'wb') as file:
    pickle.dump(df_matches_2018, file)
with open("ASM_PZ2_podaci_2021/matches_2019_cleaned", 'wb') as file:
    pickle.dump(df_matches_2019, file)
with open("ASM_PZ2_podaci_2021/matches_2020_cleaned", 'wb') as file:
    pickle.dump(df_matches_2020, file)
with open("ASM_PZ2_podaci_2021/matches_cleaned", 'wb') as file:
    pickle.dump(df_matches, file)
with open("ASM_PZ2_podaci_2021/players_cleaned", 'wb') as file:
    pickle.dump(df_players, file)
with open("ASM_PZ2_podaci_2021/rankings_cleaned", 'wb') as file:
    pickle.dump(df_rankings, file)

# Modelling the network

### pickle.load() cleared dataframes from files.

In [105]:
import networkx as nx
from networkx import community

import pickle

with open("ASM_PZ2_podaci_2021/matches_2018_cleaned", 'rb') as file:
    df_matches_2018 = pickle.load(file)
    df_matches_2018.name = "matches_2018"
with open("ASM_PZ2_podaci_2021/matches_2019_cleaned", 'rb') as file:
    df_matches_2019 = pickle.load(file)
    df_matches_2019.name = "matches_2019"
with open("ASM_PZ2_podaci_2021/matches_2020_cleaned", 'rb') as file:
    df_matches_2020 = pickle.load(file)
    df_matches_2020.name = "matches_2020"
with open("ASM_PZ2_podaci_2021/matches_cleaned", 'rb') as file:
    df_matches = pickle.load(file)
    df_matches.name = "matches_all"
with open("ASM_PZ2_podaci_2021/players_cleaned", 'rb') as file:
    df_players = pickle.load(file)
    df_players.name = "players"
with open("ASM_PZ2_podaci_2021/rankings_cleaned", 'rb') as file:
    df_rankings = pickle.load(file)
    df_rankings.name = "rankings"

### Create graphs for players and matches.

In [106]:
G_2018 = nx.Graph(name="2018")
G_2019 = nx.Graph(name="2019")
G_2020 = nx.Graph(name="2020")
G_all = nx.Graph(name="all years")

matches_graphs = [G_2018, G_2019, G_2020, G_all]
matches_dataframes = [df_matches_2018, df_matches_2019, df_matches_2020, df_matches]
for i in range(4):
    G = matches_graphs[i]
    df = matches_dataframes[i]
    
    # add nodes
    player_nodes = df_players[(df_players['id'].isin(df['winner_id'])) | (df_players['id'].isin(df['loser_id']))]
    for _, id, full_name, first_name, last_name, country_code in player_nodes.itertuples():
        G.add_node(id, label=last_name, full_name=full_name, first_name=first_name, last_name=last_name, country_code=country_code)
        
    # add edges
    df_reduced = df[['winner_id', 'loser_id']]
    for _, winner_id, loser_id in df_reduced.itertuples():
        if (winner_id, loser_id) in G.edges:
            G.edges[winner_id, loser_id]['weight'] += 1
        else:
            G.add_edge(winner_id, loser_id, weight=1)
        
# Pajek has support for diacritis, whereas gml does not!
nx.write_gexf(G_2018, "models/matches_2018.gexf")
nx.write_gexf(G_2019, "models/matches_2019.gexf")
nx.write_gexf(G_2020, "models/matches_2020.gexf")
nx.write_gexf(G_all, "models/matches_all.gexf")

### Basic graph info. [Q1 - average opponents per player]

In [107]:
print(nx.info(G_2018))
print(nx.info(G_2019))
print(nx.info(G_2020))
print(nx.info(G_all))

Name: 2018
Type: Graph
Number of nodes: 419
Number of edges: 2489
Average degree:  11.8807
Name: 2019
Type: Graph
Number of nodes: 364
Number of edges: 2378
Average degree:  13.0659
Name: 2020
Type: Graph
Number of nodes: 345
Number of edges: 1325
Average degree:   7.6812
Name: all years
Type: Graph
Number of nodes: 581
Number of edges: 5330
Average degree:  18.3477

### Centralities. [Q2 - players with highest number of opponents played]

In [108]:
def calculate_centralities(G):
    DC_dict = nx.degree_centrality(G)
    CC_dict = nx.closeness_centrality(G)
    BC_dict = nx.betweenness_centrality(G)
    EVC_dict = nx.eigenvector_centrality(G)
    
    df_dc = pd.DataFrame.from_dict(DC_dict, orient='index', columns=['DC'])
    df_cc = pd.DataFrame.from_dict(CC_dict, orient='index', columns=['CC'])
    df_bc = pd.DataFrame.from_dict(BC_dict, orient='index', columns=['BC'])
    df_evc = pd.DataFrame.from_dict(EVC_dict, orient='index', columns=['EVC'])
    df = pd.concat([df_dc, df_cc, df_bc, df_evc], axis=1)
    return df

for G in matches_graphs:
    print(G.name)
    name_dict = nx.get_node_attributes(G, 'label')
    df_names = pd.DataFrame.from_dict(name_dict, orient='index', columns=['name'])
    df_centralities = calculate_centralities(G)
    G.centralities = df_centralities
    df_centralities = pd.concat([df_names, df_centralities], axis=1)
    df_centralities.sort_values('DC', ascending=False, inplace=True)
    print(df_centralities)
    print()

2018
               name        DC        CC        BC           EVC
104926      Fognini  0.145933  0.388683  0.033726  1.438065e-01
106233        Thiem  0.131579  0.387737  0.014091  1.469095e-01
126774    Tsitsipas  0.126794  0.377184  0.018005  1.359105e-01
100644       Zverev  0.124402  0.378078  0.010155  1.463716e-01
104755      Gasquet  0.122010  0.376293  0.012518  1.376286e-01
...             ...       ...       ...       ...           ...
111515  Kwiatkowski  0.002392  0.225563  0.000000  5.068646e-04
111574      Aragone  0.002392  0.232303  0.000000  6.272305e-04
111578       Kozlov  0.002392  0.257656  0.000000  2.747894e-03
111790       Schnur  0.002392  0.246687  0.000000  1.633772e-03
208029         Rune  0.002392  0.004306  0.000000  8.413057e-12

[419 rows x 5 columns]

2019
                             name        DC        CC        BC       EVC
106421                   Medvedev  0.165289  0.431716  0.019616  0.161795
100644                     Zverev  0.140496  0.417101  0.024740  0.138414
126774                  Tsitsipas  0.140496  0.424283  0.015671  0.140571
105332                      Paire  0.140496  0.417101  0.019572  0.127059
126610                 Berrettini  0.137741  0.421491  0.009445  0.142719
...                           ...       ...       ...       ...       ...
104735                      Kamke  0.002755  0.282730  0.000000  0.003397
111453                 Torpegaard  0.002755  0.272856  0.000000  0.001921
111192                    Miedler  0.002755  0.221531  0.000000  0.000116
110778  Magalhaes Hueb De Menezes  0.002755  0.215713  0.000000  0.000068
209238                  Dominguez  0.002755  0.273089  0.000000  0.001630

[364 rows x 5 columns]

2020
                   name        DC        CC        BC           EVC
126094           Rublev  0.125000  0.371530  0.027709  2.152859e-01
200000  Auger Aliassime  0.107558  0.359726  0.025945  1.802166e-01
126774        Tsitsipas  0.098837  0.353838  0.031380  1.819023e-01
104925         Djokovic  0.093023  0.361916  0.032802  1.585946e-01
111575        Khachanov  0.090116  0.347123  0.025453  1.333757e-01
...                 ...       ...       ...       ...           ...
131951        Cukierman  0.002907  0.192534  0.000000  3.620682e-04
106247        Razborsek  0.002907  0.002907  0.000000  6.070744e-12
127339             Gojo  0.002907  0.190223  0.000000  3.200912e-04
127326           Fatael  0.002907  0.002907  0.000000  6.070744e-12
209874      Kasnikowski  0.002907  0.002907  0.000000  6.070744e-12

[345 rows x 5 columns]

all years
               name        DC        CC        BC           EVC
111575    Khachanov  0.177586  0.431564  0.018198  1.313909e-01
126774    Tsitsipas  0.170690  0.427259  0.068153  1.302291e-01
106421     Medvedev  0.167241  0.419244  0.011771  1.282040e-01
104926      Fognini  0.165517  0.416526  0.013926  1.193263e-01
100644       Zverev  0.163793  0.421306  0.013706  1.249850e-01
...             ...       ...       ...       ...           ...
134114      Ballout  0.001724  0.001724  0.000000  3.129437e-12
134120          Lee  0.001724  0.196106  0.000000  2.400114e-06
134217        Butts  0.001724  0.001724  0.000000  3.129437e-12
134677        Borba  0.001724  0.229257  0.000000  5.877419e-05
209874  Kasnikowski  0.001724  0.186907  0.000000  1.108964e-06

[581 rows x 5 columns]

### [Q3 - players by number of unique and total number of tournaments they participated in]

In [109]:
print("Total number of unique tourney IDs: ")
print(df_matches['tourney_id'].nunique())
print('\n')

for df_m in matches_dataframes:
    print(df_m.name + '\n')
    df_wm = df_m.rename(columns={'winner_id': 'player_id'})[['tourney_id', 'player_id']]
    df_lm = df_m.rename(columns={'loser_id': 'player_id'})[['tourney_id', 'player_id']]
    df_pm = pd.concat([df_wm, df_lm], axis=0)
    df_pm = df_pm.join(df_players.set_index('id'), on='player_id')[['tourney_id', 'player_id', 'first_name', 'last_name']]
    df_player_tourneys = df_pm.groupby(['player_id', 'first_name', 'last_name'], as_index=True)['tourney_id'].agg(['count', 'nunique']).reset_index()
    print(df_player_tourneys[['player_id', 'first_name', 'last_name', 'nunique']].sort_values('nunique', ascending=False).head(n=10))
    print()
    print(df_player_tourneys[['player_id', 'first_name', 'last_name', 'count']].sort_values('count', ascending=False).head(n=10))
    print('\n')

Total number of unique tourney IDs:
328


matches_2018

     player_id first_name     last_name  nunique
188     106000      Damir       Dzumhur       32
83      105077     Albert         Ramos       30
61      104898      Robin         Haase       30
71      104999     Mischa        Zverev       30
93      105173     Adrian     Mannarino       30
176     105932    Nikoloz  Basilashvili       29
343     133430      Denis    Shapovalov       29
330     126774   Stefanos     Tsitsipas       29
105     105332     Benoit         Paire       29
104     105311       Joao         Sousa       28

     player_id first_name  last_name  count
0       100644  Alexander     Zverev     77
224     106233    Dominic      Thiem     75
330     126774   Stefanos  Tsitsipas     73
66      104926      Fabio    Fognini     70
51      104731      Kevin   Anderson     67
277     111575      Karen  Khachanov     66
251     106421     Daniil   Medvedev     65
65      104925      Novak   Djokovic     65
99      105227      Marin      Cilic     65
120     105453        Kei  Nishikori     64


matches_2019

     player_id    first_name   last_name  nunique
295     133430         Denis  Shapovalov       32
234     111575         Karen   Khachanov       31
272     126203  Taylor Harry       Fritz       31
85      105332        Benoit       Paire       31
107     105526   Jan Lennard      Struff       30
84      105311          Joao       Sousa       30
109     105550         Guido       Pella       29
90      105357          John     Millman       29
114     105583         Dusan     Lajovic       28
20      104468        Gilles       Simon       28

     player_id       first_name      last_name  count
207     106421           Daniil       Medvedev     80
284     126774         Stefanos      Tsitsipas     79
52      104925            Novak       Djokovic     69
39      104745           Rafael          Nadal     68
282     126610           Matteo     Berrettini     68
0       100644        Alexander         Zverev     67
191     106233          Dominic          Thiem     67
295     133430            Denis     Shapovalov     66
163     106043  Diego Sebastian    Schwartzman     66
69      105138          Roberto  Bautista Agut     65


matches_2020

     player_id    first_name        last_name  nunique
53      105173        Adrian        Mannarino       17
272     200000         Felix  Auger Aliassime       17
204     122330     Alexander           Bublik       17
63      105357          John          Millman       16
81      105526   Jan Lennard           Struff       16
257     134770        Casper             Ruud       15
225     126203  Taylor Harry            Fritz       15
87      105583         Dusan          Lajovic       15
239     126774      Stefanos        Tsitsipas       14
250     132283       Lorenzo           Sonego       14

     player_id       first_name        last_name  count
217     126094           Andrey           Rublev     51
39      104925            Novak         Djokovic     46
239     126774         Stefanos        Tsitsipas     44
272     200000            Felix  Auger Aliassime     42
128     106043  Diego Sebastian      Schwartzman     41
0       100644        Alexander           Zverev     39
169     106421           Daniil         Medvedev     38
257     134770           Casper             Ruud     35
149     106233          Dominic            Thiem     34
28      104745           Rafael            Nadal     34


matches_all

     player_id       first_name    last_name  nunique
420     133430            Denis   Shapovalov       75
103     105173           Adrian    Mannarino       74
116     105332           Benoit        Paire       73
146     105526      Jan Lennard       Struff       71
400     126774         Stefanos    Tsitsipas       70
324     111575            Karen    Khachanov       70
92      105077           Albert        Ramos       69
115     105311             Joao        Sousa       68
220     106043  Diego Sebastian  Schwartzman       68
155     105583            Dusan      Lajovic       68

     player_id       first_name    last_name  count
400     126774         Stefanos    Tsitsipas    196
0       100644        Alexander       Zverev    183
290     106421           Daniil     Medvedev    183
73      104925            Novak     Djokovic    180
256     106233          Dominic        Thiem    176
220     106043  Diego Sebastian  Schwartzman    165
420     133430            Denis   Shapovalov    161
324     111575            Karen    Khachanov    158
368     126094           Andrey       Rublev    151
57      104745           Rafael        Nadal    151

### [Q4 - "representatives", i.e. player(s) with most contacts with different players]
### [Q5 - ATP rankings for "representatives"]

In [110]:
print("For checking if the results from the next cell(s) are okay:\n")
for G in matches_graphs:
    print(G.name)
    players_degrees = sorted(G.degree, key=lambda x: x[1], reverse=True)
    top_10_players_with_contacts = []
    for i in range(10):
        top_10_players_with_contacts.append(players_degrees[i][0])
    print(top_10_players_with_contacts)

For checking if the results from the next cell(s) are okay:

2018
[104926, 106233, 126774, 100644, 104755, 104468, 105311, 106421, 111575, 133430]
2019
[106421, 100644, 105332, 126774, 106043, 126610, 105311, 105526, 105676, 106233]
2020
[126094, 200000, 126774, 104925, 111575, 134770, 106043, 106421, 100644, 104745]
all years
[111575, 126774, 106421, 104926, 100644, 104792, 105138, 105526, 106233, 133430]

In [111]:
for df_m in matches_dataframes:
    print(df_m.name + '\n')
    
    #calculate contacts for players
    df_player_contacts = df_m.rename(columns={'winner_id': 'id1', 'loser_id': 'id2'})[['id1', 'id2']]
    df_player_contacts = pd.concat([df_player_contacts, df_player_contacts.rename(columns={'id1': 'id2', 'id2': 'id1'}).iloc[::-1]], axis=0) # iloc[::-1] reverses the order, useful for visually checking the intermediate result when printed
    df_player_contacts = df_player_contacts.drop_duplicates()
    representatives = df_player_contacts.groupby('id1', as_index=True).agg('nunique').reset_index().rename(columns={'id2': 'contacts'}).sort_values(by='contacts', ascending=False).head(n=10)
    
    # player names, ATP rankings
    representatives.rename(columns={'id1': 'id'}, inplace=True)
    player_names = df_players.set_index('id')['full_name'].to_dict()
    representatives['full_name'] = representatives['id'].map(player_names)
    
    for year in ["2018", "2019", "2020", "all"]:
        if year in df_m.name:
            rankings = df_rankings
            if year != "all":
                rankings = rankings[df_rankings['ranking_date'].between(int(year + "0101"), int(year + "1231"))]
            rankings = rankings.groupby('player', as_index=True).agg({'rank': ['min', 'max']})
            representatives = representatives.join(rankings, on='id')
    
    print(representatives)
    print()
    
    # calculate combined contacts for players
    for i in range(2, 10):
        df_player_contacts_combined = df_player_contacts
        for j in range(i):
            df_player_contacts_combined['id1'] = df_player_contacts_combined['id1'].apply(lambda pid: top_10_players_with_contacts[0] if pid == top_10_players_with_contacts[j] else pid)
        representatives_combined = df_player_contacts_combined.groupby('id1', as_index=True).agg('nunique').reset_index().rename(columns={'id2': 'contacts'}).sort_values(by='contacts', ascending=False)
        print("combined contacts for first", i, "players:", representatives_combined.iloc[0]['contacts'])
    print('\n')

matches_2018

         id  contacts           full_name  (rank, min)  (rank, max)
66   104926        61       Fabio Fognini           13           27
224  106233        55       Dominic Thiem            5            9
330  126774        53  Stefanos Tsitsipas           15           91
0    100644        52    Alexander Zverev            3            5
53   104755        51     Richard Gasquet           24           38
29   104468        50        Gilles Simon           29           89
104  105311        49          Joao Sousa           41           85
343  133430        49    Denis Shapovalov           23           51
251  106421        49     Daniil Medvedev           16           84
277  111575        49     Karen Khachanov           11           49

combined contacts for first 2 players: 84
combined contacts for first 3 players: 104
combined contacts for first 4 players: 129
combined contacts for first 5 players: 134
combined contacts for first 6 players: 142
combined contacts for first 7 players: 151
combined contacts for first 8 players: 161
combined contacts for first 9 players: 165


matches_2019

         id  contacts                    full_name  (rank, min)  (rank, max)
207  106421        60              Daniil Medvedev            4           19
0    100644        51             Alexander Zverev            3            7
284  126774        51           Stefanos Tsitsipas            5           15
85   105332        51                 Benoit Paire           23           69
282  126610        50            Matteo Berrettini            8           57
163  106043        50  Diego Sebastian Schwartzman           14           27
295  133430        49             Denis Shapovalov           15           38
126  105676        49                 David Goffin           11           33
84   105311        49                   Joao Sousa           38           75
191  106233        49                Dominic Thiem            4            8

combined contacts for first 2 players: 73
combined contacts for first 3 players: 96
combined contacts for first 4 players: 108
combined contacts for first 5 players: 118
combined contacts for first 6 players: 129

C:\Users\kifla\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
C:\Users\kifla\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

combined contacts for first 7 players: 137
combined contacts for first 8 players: 144
combined contacts for first 9 players: 149


matches_2020

         id  contacts                    full_name  (rank, min)  (rank, max)
217  126094        43                Andrey Rublev            8           23
272  200000        37        Felix Auger Aliassime           18           22
239  126774        34           Stefanos Tsitsipas            5            6
39   104925        32               Novak Djokovic            1            2
190  111575        31              Karen Khachanov           15           20
257  134770        31                  Casper Ruud           25           53
128  106043        30  Diego Sebastian Schwartzman            8           15
169  106421        30              Daniil Medvedev            4            6
0    100644        29             Alexander Zverev            7            7
28   104745        29                 Rafael Nadal            1            2

combined contacts for first 2 players: 52
combined contacts for first 3 players: 65
combined contacts for first 4 players: 71
combined contacts for first 5 players: 82
combined contacts for first 6 players: 91
combined contacts for first 7 players: 99
combined contacts for first 8 players: 107
combined contacts for first 9 players: 114


matches_all

         id  contacts              full_name  (rank, min)  (rank, max)
324  111575       103        Karen Khachanov            8           49
400  126774        99     Stefanos Tsitsipas            5           91
290  106421        97        Daniil Medvedev            4           84
74   104926        96          Fabio Fognini            9           27
0    100644        95       Alexander Zverev            3            7
59   104792        94           Gael Monfils            9           46
146  105526        93     Jan Lennard Struff           29           71
97   105138        93  Roberto Bautista Agut            9           28
420  133430        92       Denis Shapovalov           10           51
256  106233        92          Dominic Thiem            3            9

combined contacts for first 2 players: 142
combined contacts for first 3 players: 164
combined contacts for first 4 players: 182

C:\Users\kifla\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)
C:\Users\kifla\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

combined contacts for first 5 players: 190
combined contacts for first 6 players: 199
combined contacts for first 7 players: 213
combined contacts for first 8 players: 223
combined contacts for first 9 players: 233

### [Q6 - countries with most active players]

In [112]:
for df_m in matches_dataframes:
    print(df_m.name)
    df_players_countries = df_m.rename(columns={'winner_id': 'id1', 'loser_id': 'id2', 'winner_ioc': 'country1', 'loser_ioc': 'country2'})[['id1', 'id2', 'country1', 'country2']]
    df_players_countries = pd.concat([df_players_countries, df_players_countries.rename(columns={'id1': 'id2', 'id2': 'id1', 'country1': 'country2', 'country2': 'country1'})], axis=0).drop_duplicates(subset='id1')
    df_players_countries = df_players_countries.rename(columns={'id1': 'players', 'country1': 'country'})[['players', 'country']].groupby('country', as_index=True).count().sort_values(by='players', ascending=False).head(n=10)
    print(df_players_countries)
    print()

matches_2018
         players
country
USA           34
FRA           25
ESP           24
GER           18
ITA           17
ARG           15
AUS           14
AUT            8
CAN            7
RUS            7

matches_2019
         players
country
USA           31
GER           22
FRA           22
ITA           21
ESP           18
ARG           13
AUS           12
GBR            9
SRB            9
CAN            8

matches_2020
         players
country
USA           28
FRA           22
ITA           18
GER           15
ESP           14
AUS           14
ARG           13
RUS            9
CAN            8
SRB            8

matches_all
         players
country
USA           44
FRA           33
ITA           27
ESP           27
GER           26
ARG           19
AUS           17
RUS           15
GBR           10
CAN           10

### [Q7 - average ATP points per country]

In [113]:
df_rankings_countries = df_rankings[['ranking_date', 'points', 'player', 'rank']].merge(df_players[['id', 'country_code']], how='left', left_on='player', right_on='id')[['ranking_date', 'points', 'player', 'rank', 'country_code']]
for year in ["2018", "2019", "2020", "all"]:
    print("year: " + year)
    rankings_countries_year = df_rankings_countries
    if year != "all":
        rankings_countries_year = rankings_countries_year[rankings_countries_year['ranking_date'].between(int(year + "0101"), int(year + "1231"))]
    rankings_countries_year = rankings_countries_year.groupby('country_code', as_index=True).agg({'points': 'mean', 'rank': 'mean', 'player': 'nunique'}).rename(columns={'points': 'points_mean', 'rank': 'rank_mean', 'player': 'player_nunique'})
    print(rankings_countries_year[['points_mean', 'player_nunique']].sort_values(by='points_mean', ascending=False).head(n=10))
    print()
    print(rankings_countries_year[['rank_mean', 'player_nunique']].sort_values(by='rank_mean', ascending=True).head(n=10))
    print('\n')

year: 2018
              points_mean  player_nunique
country_code
SUI           1496.444805               7
CRO           1198.134948               7
RSA           1059.583333               4
BUL           1050.867021               4
SRB            942.664502              10
LUX            903.541667               1
ESP            866.096927              27
GRE            751.000000               2
ARG            701.984462              19
AUT            679.088542               8

               rank_mean  player_nunique
country_code
LUX            83.708333               1
SRB           139.008658              10
LAT           147.666667               1
JPN           154.539062               8
SVK           155.447917               6
POR           175.266667               5
BAR           182.375000               1
ESA           182.916667               1
CRO           216.605536               7
AUS           241.125307              17


year: 2019
              points_mean  player_nunique
country_code
GRE           2593.411765               2
SRB           1605.405983              10
SUI           1362.383562               7
RSA            930.087209               4
GEO            923.271739               3
CRO            879.372340               6
ESP            827.946701              26
JPN            821.260638               8
AUT            820.882857               8
CAN            745.248101              10

               rank_mean  player_nunique
country_code
LAT           127.531915               1
JPN           128.332447               8
SRB           133.034188              10
SVK           155.319149               6
AUS           162.920954              17
BAR           180.021277               1
ARG           193.717576              19
POR           194.872340               5
ESP           202.812183              26
ITA           202.930693              27


year: 2020
              points_mean  player_nunique
country_code
GRE           2696.153846               2
SRB           1768.607692              10
SUI           1401.934066               7
AUT           1365.175824               7
RUS           1003.363636              14
ESP            957.203077              25
CAN            804.469231              10
CRO            703.044444               6
KAZ            693.589744               3
JPN            667.971154               8

               rank_mean  player_nunique
country_code
KAZ           103.025641               3
SRB           114.103846              10
JPN           115.269231               8
SVK           140.333333               6
AUS           158.373303              17
CRO           170.711111               6
ARG           180.297362              17
LAT           186.000000               1
POR           204.107692               5
ITA           228.334758              27


year: all
              points_mean  player_nunique
country_code
GRE           1814.061033               2
SUI           1424.390026               7
SRB           1383.763866              10
CRO            976.140227               7
RSA            899.859729               4
ESP            870.652048              27
AUT            869.586245               8
JPN            717.935950               8
RUS            685.042718              15
CAN            671.926364              10

               rank_mean  player_nunique
country_code
SRB           131.217647              10
JPN           135.921488               8
LAT           148.082645               1
SVK           152.150138               6
LUX           186.423077               1
POR           189.079339               5
AUS           192.949342              17
BAR           198.743802               1
CRO           202.548159               7
ARG           225.710686              19

### [Q8 - Serbia]

### [Q9 - communities] --- Gephi

In [114]:
# communities_generator = community.girvan_newman(G_all)
# top_level_communities = next(communities_generator)

In [115]:
# print(sorted(map(sorted, top_level_communities)))

### [Q10 - clustering, assortativity]

Assortativity:

In [116]:
G_for_assortativity = G_all.copy()

# add country code to each player in the graph
country_codes = df_players[['id', 'country_code']].set_index('id').to_dict()['country_code']
nx.set_node_attributes(G_for_assortativity, country_codes, 'country_code')

# add latest player rankings to each player in the graph
def get_rankings_sorted_from_latest(G):
    date_from = "20180101"
    date_to = "20201231"
    if G.name == "2018":
        date_to = "20181231"
    elif G.name == "2019":
        date_from = "20190101"
        date_to = "20191231"
    elif G.name == "2020":
        date_from = "20200101"
    return df_rankings[df_rankings['ranking_date'].between(int(date_from), int(date_to))].sort_values(by='ranking_date', ascending=False)

rankings = get_rankings_sorted_from_latest(G_for_assortativity)
latest_player_rankings = {}
for player_id in G_for_assortativity.nodes():
    index = rankings['player'].eq(player_id).idxmax()
    latest_player_rankings[player_id] = rankings['rank'][index]
nx.set_node_attributes(G_for_assortativity, latest_player_rankings, 'rank')


# print assortativity coefficients

assortativity_degree_unweighted = nx.degree_assortativity_coefficient(G_for_assortativity)
print("Assortativity coefficient based on unweighted node degree (different opponents played): " + str(assortativity_degree_unweighted))
assortativity_degree_weighted = nx.degree_assortativity_coefficient(G_for_assortativity, weight='weight')
print("Assortativity coefficient based on weighted node degree (matches played): " + str(assortativity_degree_weighted))

assortativity_country = nx.attribute_assortativity_coefficient(G_for_assortativity, 'country_code')
print("Assortativity coefficient based on country: " + str(assortativity_country))

assortativity_rank = nx.numeric_assortativity_coefficient(G_for_assortativity, 'rank')
print("Assortativity coefficient based on ranking: " + str(assortativity_rank))

Assortativity coefficient based on unweighted node degree (different opponents played): 0.16919387110544537
Assortativity coefficient based on weighted node degree (matches played): 0.14652712553286887
Assortativity coefficient based on country: 0.009843043206048575
Assortativity coefficient based on ranking: 0.35162546824778224

Clustering:

In [117]:
player_id, clustering_coef = zip(*nx.clustering(G_all, weight='weight').items())
nonzero_cc = [(p_id, cc) for p_id, cc in zip(player_id, clustering_coef) if cc > 0]
df_clustering = pd.DataFrame(nonzero_cc, columns = ['player_id', 'clustering_coef'])
df_clustering.sort_values('clustering_coef', inplace=True, ascending=False)
df_clustering = df_clustering.join(df_players.set_index('id'), on='player_id')[['player_id', 'full_name', 'clustering_coef']]

max_clustering_coef = max(clustering_coef)
print("Max clustering coefficient: " + str(max_clustering_coef))
avg_clustering_coef = nx.average_clustering(G_all, weight='weight', count_zeros=False)
print("Average clustering coefficient: " + str(avg_clustering_coef))
print()
print("Local nonzero clustering coefficients:")
print(df_clustering.head(n=10))

Max clustering coefficient: 0.16508715292071477
Average clustering coefficient: 0.05495800786618891

Local nonzero clustering coefficients:
     player_id             full_name  clustering_coef
270     133018  Michail Pervolarakis         0.165087
85      105217      Thiemo De Bakker         0.160305
206     109699           Julian Lenz         0.157490
300     202103   Francisco Cerundolo         0.157490
129     105723      Andrey Kuznetsov         0.157490
33      104563            Luca Vanni         0.157490
52      104868            James Ward         0.146660
269     132482          Liam Caruana         0.138839
307     208364     Franco Roncadelli         0.125000
43      104672        Vincent Millot         0.125000

### [Q11 - tendency of players to meet the same opponents and the effect on their ranking]

In [118]:
# tendency of players to meet the same opponents repeatedly - ratio of weighted degree to unweighted degree of a node
opponent_repetition_factors = {}
for player_id in G_for_assortativity:
    if G_for_assortativity.degree(player_id) != 0:
        opponent_repetition_factors[player_id] = G_for_assortativity.degree(player_id, weight='weight') / G_for_assortativity.degree(player_id)
    else:
        opponent_repetition_factors[player_id] = 0

avg_opponent_repetition_factor = sum(degreeview[1] for degreeview in G_for_assortativity.degree(weight='weight')) / sum(degreeview[1] for degreeview in G_for_assortativity.degree())

# effect on ranking
ranks = nx.get_node_attributes(G_for_assortativity, 'rank')
data = []
for player_id in G_for_assortativity:
    data.append((player_id, df_players.loc[df_players['id'] == player_id].iloc[0, 1], opponent_repetition_factors[player_id], ranks[player_id]))
df = pd.DataFrame(data, columns=['player_id', 'full_name', 'opponent_repetition_factor', 'rank'])
df.sort_values(by='opponent_repetition_factor', ascending=False, inplace=True)

In [119]:
# print values
print("Opponent repetition factor for the whole graph (ratio of weighted degree to unweighted degree): " + str(avg_opponent_repetition_factor))
df.head(n=10)

Opponent repetition factor for the whole graph (ratio of weighted degree to unweighted degree): 1.3352720450281426

     player_id                    full_name  opponent_repetition_factor  rank
73      104925               Novak Djokovic                    2.250000     1
400     126774           Stefanos Tsitsipas                    1.979798     6
0       100644             Alexander Zverev                    1.926316     7
256     106233                Dominic Thiem                    1.913043     3
290     106421              Daniil Medvedev                    1.886598     4
57      104745                 Rafael Nadal                    1.841463     2
220     106043  Diego Sebastian Schwartzman                    1.833333     9
420     133430             Denis Shapovalov                    1.750000    12
172     105676                 David Goffin                    1.746667    15
7       103819                Roger Federer                    1.743243     5

In [120]:
df[['opponent_repetition_factor', 'rank']].corr()

                            opponent_repetition_factor      rank
opponent_repetition_factor                    1.000000 -0.426644
rank                                         -0.426644  1.000000

The correlation value is negative, which means, since a lower number of ranking position is better, that players who face the same opponents more often are usually better ranked - as can be seen in the table above.

### [Q12 - network's core]

In [121]:
for G in matches_graphs:
    cn = nx.core_number(G)
    max_cn = max(cn.values())
    core = nx.k_core(G, max_cn)
        
    rankings = get_rankings_sorted_from_latest(G)
    data = []
    for player_id in core:
        name = df_players.loc[df_players['id'] == player_id].iloc[0, 1]
        rank = rankings.loc[rankings['player'] == player_id].iloc[0, 1]
        data.append((player_id, name, rank))
    df = pd.DataFrame(data, columns=['player_id', 'full_name', 'rank']).sort_values(by='rank', ascending=True)
    print(G.name + " - total players in core: " + str(df.shape[0]) + "; core number: " + str(max_cn) + '\n')
    print(df.head(n=10))
    print('\n')

2018 - total players in core: 73; core number: 20

    player_id              full_name  rank
57     104925         Novak Djokovic     1
21     104745           Rafael Nadal     2
7      103819          Roger Federer     3
18     100644       Alexander Zverev     4
3      105223  Juan Martin Del Potro     5
14     104731         Kevin Anderson     6
8      105227            Marin Cilic     7
70     106233          Dominic Thiem     8
65     105453          Kei Nishikori     9
60     104545             John Isner    10


2019 - total players in core: 79; core number: 20

    player_id              full_name  rank
38     104745           Rafael Nadal     1
74     104925         Novak Djokovic     2
55     103819          Roger Federer     3
31     106233          Dominic Thiem     4
65     106421        Daniil Medvedev     5
40     126774     Stefanos Tsitsipas     6
37     100644       Alexander Zverev     7
18     126610      Matteo Berrettini     8
21     105138  Roberto Bautista Agut     9
50     104792           Gael Monfils    10


2020 - total players in core: 74; core number: 10

    player_id                    full_name  rank
53     104925               Novak Djokovic     1
16     104745                 Rafael Nadal     2
70     106233                Dominic Thiem     3
24     106421              Daniil Medvedev     4
26     126774           Stefanos Tsitsipas     6
15     100644             Alexander Zverev     7
7      126094                Andrey Rublev     8
29     106043  Diego Sebastian Schwartzman     9
48     104792                 Gael Monfils    11
27     133430             Denis Shapovalov    12


all years - total players in core: 85; core number: 35

    player_id                    full_name  rank
80     104925               Novak Djokovic     1
41     104745                 Rafael Nadal     2
32     106233                Dominic Thiem     3
69     106421              Daniil Medvedev     4
59     103819                Roger Federer     5
44     126774           Stefanos Tsitsipas     6
40     100644             Alexander Zverev     7
19     126094                Andrey Rublev     8
4      106043  Diego Sebastian Schwartzman     9
20     126610            Matteo Berrettini    10

### [Q13 - players who connect different groups of players, i.e. network bridges - players with low network constraint and high betweenness centrality values]

In [122]:
# for G in matches_graphs:
#     constraints = nx.constraint(G)
    
#     df = pd.DataFrame.from_dict(constraints, orient='index', columns=['constraint'])#.sort_values(by='constraint', ascending=True)
#     names = []
#     ranks = []
#     bc = []
#     rankings = get_rankings_sorted_from_latest(G)
#     for player_id in df.index:
#         names.append(df_players.loc[df_players['id'] == player_id].iloc[0, 1])
#         r = rankings.loc[rankings['player'] == player_id]
#         if r.size != 0:
#             ranks.append(rankings.loc[rankings['player'] == player_id].iloc[0, 1])
#         else:
#             ranks.append('unknown')
#         bc.append(G.centralities.loc[player_id, 'BC'])
#     df['full_name'] = names
#     df['rank'] = ranks
#     df['betweenness_centrality'] = bc
    
#     print(G.name)
#     print(df.sort_values(by='constraint', ascending=True).head(n=10))
#     print()
#     print(df.sort_values(by='betweenness_centrality', ascending=False).head(n=10))
#     print('\n')

### [Q14 - network densities] --- Gephi

In [123]:
for G in matches_graphs:
    print(G.name + ": " + str(nx.density(G)))

2018: 0.028422651334345846
2019: 0.03599430872158145
2020: 0.022328951803168184
all years: 0.03163392486200962

### [Q15 - connectedness, centralization] --- Gephi

### [Q16 - average path length, diameter] --- Gephi

### [Q17 - node degree distribution --- Gephi; degree-rating correlation]

In [124]:
data = []
for player_id in G_all:
    data.append((player_id, df_players.loc[df_players['id'] == player_id].iloc[0, 1], G_all.degree(player_id), ranks[player_id]))
df = pd.DataFrame(data, columns=['player_id', 'full_name', 'degree', 'rank'])
df[['degree', 'rank']].corr()

          degree      rank
degree  1.000000 -0.523745
rank   -0.523745  1.000000

The correlation value is negative, which means, since a lower number of ranking position is better, that players who have a higher degree are also better ranked.

### [Q18 - hubs]

In [125]:
for G in matches_graphs:
    h, a = nx.hits(G)
    
    rankings = get_rankings_sorted_from_latest(G)
    data = []
    for player_id in G:
        name = df_players.loc[df_players['id'] == player_id].iloc[0, 1]
        rank = "unknown"
        r = rankings.loc[rankings['player'] == player_id]
        if r.size != 0:
            rank = rankings.loc[rankings['player'] == player_id].iloc[0, 1]
        data.append((player_id, name, rank, h[player_id], a[player_id]))
    df = pd.DataFrame(data, columns=['player_id', 'full_name', 'rank', 'hub_coefficient', 'authority_coefficient']).sort_values(by='hub_coefficient', ascending=False)
    
    print(G.name + "\n")
    print(df.head(n=10))
    print("\n")

2018

     player_id              full_name rank  hub_coefficient  \
0       100644       Alexander Zverev    4         0.017161
65      104925         Novak Djokovic    1         0.015923
224     106233          Dominic Thiem    8         0.015913
51      104731         Kevin Anderson    6         0.015787
330     126774     Stefanos Tsitsipas   15         0.015661
120     105453          Kei Nishikori    9         0.015095
99      105227            Marin Cilic    7         0.014026
254     106432            Borna Coric   12         0.013984
97      105223  Juan Martin Del Potro    5         0.013920
251     106421        Daniil Medvedev   16         0.013794

     authority_coefficient
0                 0.017161
65                0.015923
224               0.015913
51                0.015787
330               0.015661
120               0.015095
99                0.014026
254               0.013984
97                0.013920
251               0.013794


2019

     player_id           full_name rank  hub_coefficient  \
284     126774  Stefanos Tsitsipas    6         0.018577
207     106421     Daniil Medvedev    5         0.017117
52      104925      Novak Djokovic    2         0.016064
39      104745        Rafael Nadal    1         0.015849
2       103819       Roger Federer    3         0.015356
282     126610   Matteo Berrettini    8         0.015080
191     106233       Dominic Thiem    4         0.015007
126     105676        David Goffin   11         0.013981
295     133430    Denis Shapovalov   15         0.013926
0       100644    Alexander Zverev    7         0.013730

     authority_coefficient
284               0.018577
207               0.017117
52                0.016064
39                0.015849
2                 0.015356
282               0.015080
191               0.015007
126               0.013981
295               0.013926
0                 0.013730


2020

     player_id                    full_name rank  hub_coefficient  \
217     126094                Andrey Rublev    8         0.021834
39      104925               Novak Djokovic    1         0.021752
239     126774           Stefanos Tsitsipas    6         0.021192
128     106043  Diego Sebastian Schwartzman    9         0.019446
0       100644             Alexander Zverev    7         0.018997
169     106421              Daniil Medvedev    4         0.017900
149     106233                Dominic Thiem    3         0.017108
28      104745                 Rafael Nadal    2         0.016335
272     200000        Felix Auger Aliassime   21         0.016271
254     133430             Denis Shapovalov   12         0.013629

     authority_coefficient
217               0.021834
39                0.021752
239               0.021192
128               0.019446
0                 0.018997
169               0.017900
149               0.017108
28                0.016335
272               0.016271
254               0.013629


all years

     player_id                    full_name rank  hub_coefficient  \
400     126774           Stefanos Tsitsipas    6         0.017414
73      104925               Novak Djokovic    1         0.016964
256     106233                Dominic Thiem    3         0.015887
290     106421              Daniil Medvedev    4         0.015859
0       100644             Alexander Zverev    7         0.015695
57      104745                 Rafael Nadal    2         0.014421
420     133430             Denis Shapovalov   12         0.013258
220     106043  Diego Sebastian Schwartzman    9         0.013146
324     111575              Karen Khachanov   20         0.012326
7       103819                Roger Federer    5         0.012124

     authority_coefficient
400               0.017414
73                0.016964
256               0.015887
290               0.015859
0                 0.015695
57                0.014421
420               0.013258
220               0.013146
324               0.012326
7                 0.012124

Note: the results are unrealiable because the HITS algorithm was designed for directed graphs (hence the equal values of hub and authority coefficients).

### [Q19 - small world phenomenon] --- Gephi

Note: the sigma algorithm is computationally demanding, so judge by the average node distance to network size ratio and by the clustering coefficient.

In [126]:
# for G in matches_graphs:
#     small_world_coeff = nx.sigma(G, niter=20, nrand=5)
#     print(G.name + ": " + str(small_world_coeff))

### [Q20 - ego networks] --- Gephi

Player IDs: Djokovic - 104925, Nadal - 104745, Federer - 103819.

In [127]:
G_djokovic = nx.ego_graph(G_all, 104925, undirected=True)
G_djokovic.name = "ego_djokovic"
G_federer = nx.ego_graph(G_all, 103819, undirected=True)
G_federer.name = "ego_federer"
G_nadal = nx.ego_graph(G_all, 104745, undirected=True)
G_nadal.name = "ego_nadal"
nx.write_gexf(G_djokovic, "models/ego_djokovic.gexf")
nx.write_gexf(G_federer, "models/ego_federer.gexf")
nx.write_gexf(G_nadal, "models/ego_nadal.gexf")
ego_graphs = [G_djokovic, G_federer, G_nadal]

for G in ego_graphs:
    print(nx.info(G))
    print()

Name: ego_djokovic
Type: Graph
Number of nodes: 81
Number of edges: 1314
Average degree:  32.4444

Name: ego_federer
Type: Graph
Number of nodes: 75
Number of edges: 1389
Average degree:  37.0400

Name: ego_nadal
Type: Graph
Number of nodes: 83
Number of edges: 1413
Average degree:  34.0482

### [Q21 - ego nodes details] --- Gephi

### [Q22, Q23 - ego networks embedment in global network] --- Gephi

In [133]:
ego_graphs_players = set()
for G in ego_graphs:
    for player_id in G:
        ego_graphs_players.add(player_id)
print("Percentage of all players that can be found in ego networks' union: {:%}".format(len(ego_graphs_players) / G_all.number_of_nodes()))

Percentage of all players that can be found in ego networks union: 23.407917%